header {
  position: fixed;
  width: 100%;
  top: 0px;
  margin: auto;
  z-index: 100;
  background: none;
}
header #headerContainer.container {
  justify-content: space-between;
}
header #navbarSupportedContent {
  align-items: center;
}
header #headerContainer button {
  border: none;
  color: #b61984;
}

.headerIconLink, .sideBarIcon {
  display: flex;
  gap: 15px;
  justify-items: center;
}
.headerIconLink a, .sideBarIcon a {
  color: inherit;
  transition: all 0.2s;
}
.headerIconLink a:hover, .sideBarIcon a:hover {
  color: #b61984;
}

#phoneCall, .sideBar .sideBarContentMenu .headerIconLinkSideBar #phoneCallSideBar {
  min-width: 208px;
  font-family: "Montserrat", sans-serif;
}
#phoneCall a, .sideBar .sideBarContentMenu .headerIconLinkSideBar #phoneCallSideBar a {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 30px #b61984;
  border: 1px solid #b61984;
  border-radius: 50px;
  color: #ffffff;
  padding: 13px 25px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: all 0.5s;
}
#phoneCall a:hover, .sideBar .sideBarContentMenu .headerIconLinkSideBar #phoneCallSideBar a:hover {
  border: 1px solid #b61984;
  color: #b61984;
  box-shadow: inset 0px 0px 0px 0px #b61984;
}

#closeIcon {
  line-height: 40px;
}

#navbarSupportedContent ul li {
  position: relative;
}
#navbarSupportedContent ul li a.nav-link {
  transition: all 0.2s;
}
#navbarSupportedContent ul li a.nav-link:hover {
  color: #b61984;
}
#navbarSupportedContent ul li a.nav-link::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #b61984;
  position: absolute;
  left: 50%;
  bottom: 0px;
  border-radius: 50%;
  transition: all 0.5s;
  transform: translateX(-50%) scale(0);
  z-index: 8;
}
#navbarSupportedContent ul li .nav-link.active::after {
  transform: translateX(-50%) scale(1);
}
#navbarSupportedContent .nav-item {
  position: relative;
  transition: all 0.2s;
}
#navbarSupportedContent .nav-item:hover .subMenu {
  visibility: visible;
  transform: scaleX(1) scaleY(1);
  opacity: 1;
}
#navbarSupportedContent .nav-item:hover a::after {
  transform: translateX(-50%) scale(1.5);
}
#navbarSupportedContent .nav-item .subMenu {
  background-color: #ffffff;
  position: absolute;
  flex-direction: column;
  list-style: none;
  width: 200px;
  padding-left: 5px;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  display: flex;
  transition: all 0.2s;
  padding-left: 13px;
  padding-right: 13px;
  opacity: 0;
  visibility: hidden;
  transform: scaleX(0.9) scaleY(0.9);
}
#navbarSupportedContent .nav-item .subMenu a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: inherit;
  transition: all 0.2s;
}
#navbarSupportedContent .nav-item .subMenu li {
  line-height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#navbarSupportedContent .nav-item .subMenu li:hover a {
  color: #b61984;
}
#navbarSupportedContent .nav-item .subMenu li:last-child {
  border: none;
}

.menuHeader {
  gap: 30px;
  margin-right: 30px;
}
.menuHeader li {
  font-weight: 600;
  line-height: 80px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 1px) {
  #navbarSupportedContent {
    display: none;
  }
  #headerContainer button {
    display: inline-block;
  }
  #headerContainer img {
    width: 48px;
    height: 48px;
  }
  header {
    background-color: #ffffff;
    height: 48px;
  }
  header .navbar {
    padding: 0px;
  }
  .logoNoneDisplay {
    display: inline-block;
  }
  .smallHeader {
    height: 48px;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 1200px) {
  #navbarSupportedContent {
    display: flex;
  }
  #headerContainer button {
    display: none;
  }
  #headerContainer img {
    width: 80px;
    height: 80px;
  }
  header {
    background-color: transparent;
  }
  .logoNoneDisplay {
    display: none;
  }
  .smallHeader {
    height: 54px;
    background-color: #ffffff;
  }
}
.carousel_container {
  padding-top: 80px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  z-index: 7;
  position: relative;
}
.carousel_container .carousel_containerLeft h1 {
  font-size: 1rem;
  color: #b61984;
}
.carousel_container .carousel_containerLeft span {
  font-weight: 700;
  line-height: 1.2;
}
.carousel_container .carousel_containerRight img {
  width: 100%;
}

.carousel {
  position: relative;
}
.carousel .carouselBackground img {
  width: 100%;
}
.carousel .carousel_imgTop {
  position: absolute;
  top: 0px;
}
.carousel .carousel_imgBot {
  position: absolute;
  bottom: 0px;
}

@media screen and (min-width: 1px) {
  .carousel_containerLeft span {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 360px) {
  .carousel_containerLeft span {
    font-size: 3.15rem;
  }
}
@media screen and (min-width: 1200px) {
  .carousel_containerLeft span {
    font-size: 3.8rem;
  }
}
.card {
  background-color: #dcd1f3;
  border: none;
  border-radius: 0px;
  position: relative;
}
.card .card_Container {
  margin: auto;
  position: relative;
  z-index: 3;
}
.card .card_Container .card_ContainerCard {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.card .card_Container .card_ContainerCard:nth-child(1), .card .card_Container .card_ContainerCard:nth-child(5) {
  animation-delay: 0.2s;
}
.card .card_Container .card_ContainerCard:nth-child(2), .card .card_Container .card_ContainerCard:nth-child(6) {
  animation-delay: 0.4s;
}
.card .card_Container .card_ContainerCard:nth-child(3), .card .card_Container .card_ContainerCard:nth-child(7) {
  animation-delay: 0.6s;
}
.card .card_Container .card_ContainerCard:nth-child(4), .card .card_Container .card_ContainerCard:nth-child(8) {
  animation-delay: 0.8s;
}
.card .card_Container .card_ContainerCard:hover img {
  transform: scale(1.2);
}
.card .card_Container .card_ContainerCard:hover .card_ContainerCardContainer {
  box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.2);
}
.card .card_Container .card_ContainerCard .card_ContainerCardContainer {
  margin-bottom: 40px;
  transition: all 0.5s;
}
.card .card_Container .card_ContainerCard .card_ContainerCardImg {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .card_Container .card_ContainerCard .card_ContainerCardImg img {
  width: 100%;
  transition: all 0.5s;
}
.card .card_Container .card_ContainerCard .card_ContainerCardContent {
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}
.card .card_Container .card_ContainerCard .card_ContainerCardContent h6 {
  color: #b61984;
  font-size: 0.75rem;
  padding-top: 30px;
}
.card .card_Container .card_ContainerCard .card_ContainerCardContent h4 {
  font-size: 1.55rem;
  font-weight: 600;
}
.card .card_Container .card_ContainerCard .card_ContainerCardContent div {
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  font-family: "Roboto";
  color: #242424;
  padding-top: 10px;
  padding-bottom: 30px;
}

.card_background img {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.formInput {
  font-family: "Montserrat", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.formInput .formInputBackground {
  position: absolute;
  bottom: 0px;
}
.formInput .formInputBackground img {
  width: 100%;
}
.formInput .formInputContainer {
  position: relative;
  z-index: 5;
  margin: auto;
  max-width: 992px;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  margin-left: auto;
  border-radius: 20px;
  background-color: #ffffff;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .row {
  padding: 0px;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent button {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 30px #b61984;
  border: 1px solid #b61984;
  border-radius: 50px;
  color: #ffffff;
  padding: 13px 50px;
  text-decoration: none;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 80px;
  transition: all 0.5s;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent button:hover {
  border: 1px solid #b61984;
  color: #b61984;
  box-shadow: inset 0px 0px 0px 0px #b61984;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form {
  padding-left: 10px;
  padding-right: 10px;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .inputInfo {
  position: relative;
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.5s;
  padding: 5px 20px;
  margin-top: 15px;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .inputInfo:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .inputInfo:focus-within input, .formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .inputInfo:focus-within textarea {
  outline: none;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .inputInfo input, .formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .inputInfo textarea {
  border: none;
  font-size: 10px;
  width: calc(100% - 25px);
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .message {
  padding-right: 0px;
  padding-bottom: 0px;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .message i {
  position: absolute;
  top: 7px;
}
.formInput .formInputContainer .formInputContainerRight .formInputContainerRightContent .form .message textarea {
  margin-left: 20px;
}

@media screen and (min-width: 1px) {
  .formInputGen {
    width: 100%;
    margin: auto;
  }
  .formInputContainerRightContent {
    width: 100%;
  }
  .formInputContainerLeft img {
    max-width: 580px;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .formInputGen {
    width: 80%;
    margin: auto;
  }
  .formInputContainerRightContent {
    width: 80%;
  }
  .formInputContainerLeft img {
    max-width: 580px;
  }
}
.footer {
  background-color: #aa017e;
  background-image: url(../../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
}
.footer .footerContainer {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 160px;
}
.footer .footerContainer .footerContainerContent:nth-child(1) {
  animation-delay: 200ms;
}
.footer .footerContainer .footerContainerContent:nth-child(2) {
  animation-delay: 400ms;
}
.footer .footerContainer .footerContainerContent:nth-child(3) {
  animation-delay: 600ms;
}
.footer .footerContainer .footerContainerContent:nth-child(4) {
  animation-delay: 800ms;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard {
  color: #ffffff;
  padding-top: 30px;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard ul {
  list-style: none;
  padding: 0;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard ul li {
  padding: 10px 0px;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard button {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 30px #b61984;
  border: 1px solid #b61984;
  border-radius: 50px;
  color: #ffffff;
  padding: 10px 0px;
  text-decoration: none;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #aa017e;
  border: 1px solid #ffffff;
  transition: all 0.5s;
  box-shadow: inset 0px 0px 0px 20px #ffffff;
  background-color: #aa017e;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard button:hover {
  color: #ffffff;
  box-shadow: inset 0px 0px 0px 0px #ffffff;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput {
  padding: 5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.5s;
  border: 1px solid #b61984;
  text-align: center;
  height: 40px;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput:focus-within input, .footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput:focus-within textarea {
  outline: none;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput input, .footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput textarea {
  border: none;
  font-size: 10px;
  width: calc(100% - 25px);
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput input {
  text-align: center;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerInput input::placeholder {
  color: #ffffff;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard #footerContainerContentCardIcon {
  display: flex;
  gap: 15px;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard #footerContainerContentCardIcon a {
  text-decoration: none;
  color: #ffffff;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerContainerContentCardContent i {
  width: 30px;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerContainerContentCardContent span {
  font-size: 14px;
  color: #ffffff;
  padding-bottom: 11px;
}
.footer .footerContainer .footerContainerContent .footerContainerContentCard .footerContainerContentCardTitle {
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 20px;
}

@media screen and (min-width: 1px) {
  .footerContainerContent {
    padding: 0px 20px;
  }
}
@media screen and (min-width: 992px) {
  .footerContainerContent {
    padding: 0px 40px;
  }
}
body {
  position: relative;
}

.content {
  position: relative;
  transition: all 0.5s;
  width: 100vmax;
}

.sideBar {
  transition: all 0.5s;
  width: 0px;
  height: 100%;
  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.sideBar .sideBarContent {
  text-align: center;
}
.sideBar .sideBarContent .sideBarContentLogo {
  padding-bottom: 30px;
}
.sideBar ul {
  padding: 0px;
}
.sideBar ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  list-style: none;
  padding: 13px 26px;
}
.sideBar .sideBarContentMenu .headerIconLinkSideBar {
  margin-top: 50px;
}
.sideBar .sideBarContentMenu .headerIconLinkSideBar #phoneCallSideBar {
  margin-bottom: 20px;
}

.sideBarIcon {
  display: flex;
  justify-content: center;
}

.navbarIconNoneDisplay {
  display: none;
}

#About {
  position: relative;
}

#About i {
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

.sideBarContentMenu ul a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}
.sideBarContentMenu ul a:hover {
  color: #b61984;
}

.subMenuSideBar li:last-child {
  padding-bottom: 0px;
}

.subMenuSideBar li:first-child {
  margin-top: 13px;
}

@media screen and (min-width: 1px) {
  .bodyOnSideBar {
    overflow: hidden;
  }
  .contentOnSideBar {
    margin-left: 250px;
    width: 100vmax;
  }
  .sideBarOnSideBar {
    width: 250px;
  }
  .sideBarContent {
    width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .bodyOnSideBar {
    overflow: hidden;
  }
  .contentOnSideBar {
    margin-left: 300px;
  }
  .sideBarOnSideBar {
    width: 300px;
  }
  .sideBarContent {
    width: 300px;
  }
}/*# sourceMappingURL=main.css.map */