.card{
   
    background-color: $backgroundColor;
    border: none;
    border-radius: 0px;
    position: relative;
    
    .card_Container{
        margin: auto;
        position: relative;
        z-index: 3;
        .card_ContainerCard{
            padding-left: $pd-5;
            padding-right: $pd-5;
            overflow: hidden;
            &:nth-child(1), &:nth-child(5){           
                animation-delay: .2s;
            }
            &:nth-child(2), &:nth-child(6){
                animation-delay: .4s;
            }
            &:nth-child(3), &:nth-child(7){
                animation-delay: .6s;
            }
            &:nth-child(4), &:nth-child(8){
                animation-delay: .8s;
            }
            
            &:hover{
                img{
                    transform: scale(1.2);
                }
                .card_ContainerCardContainer{
                    box-shadow:  0px 15px 20px 5px rgba($color: #000000, $alpha: 0.2);
                }
                
            }
            .card_ContainerCardContainer{
                // box-shadow:  0px 15px 20px 0 $shadowColor;
                margin-bottom: 40px;
                transition: all 0.5s;
            }
            .card_ContainerCardImg{
                
                overflow: hidden;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                
                img{
                    width: 100%;
                    transition: all 0.5s;
                    // transform: scale(1);
                }
            }
            .card_ContainerCardContent{
                background-color: $primaryWhite;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                padding-left: 30px;
                padding-right: 30px;
                h6{
                    color: $primaryPink;
                    font-size: 0.75rem;
                    padding-top: 30px;
                }
                h4{
                    font-size: 1.55rem;
                    font-weight: 600;
                }
                div{
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 27px;
                    font-family: 'Roboto';
                    color: #242424;
                    padding-top: 10px;
                    padding-bottom: 30px;
                }
            }
            
        }
    }
}

.card_background{
    img{
        width: 100%;
        position: absolute;
        bottom: 0px;
    }
}