header {
    position: fixed;
    width: 100%;
    top: 0px;
    margin: auto;
    z-index: 100;
    #headerContainer.container {
        justify-content: space-between;
    }
    background: none;

    #navbarSupportedContent {
        align-items: center;
    }
    #headerContainer button {
        border: none;
        color: $primaryPink;
    }
}
.headerIconLink {
    display: flex;
    gap: 15px;
    justify-items: center;
    a {
        color: inherit;
        transition: all 0.2s;
        &:hover {
            color: $primaryPink;
        }
    }
}

#phoneCall {
    min-width: 208px;
    font-family: "Montserrat", sans-serif;
    a {
        @include buttonPinkStyle($pd-3, $pd-2);
        font-weight: 500;
        font-size: 0.9rem;
        transition: all 0.5s;
        &:hover {
            @include buttonPinkHover();
        }
    }
}

#closeIcon {
    line-height: 40px;
}
a.nav-link {
    transition: all 0.2s;
    &:hover {
        color: $primaryPink;
    }
    &::after {
        content: "";
        height: 8px;
        width: 8px;
        background-color: $primaryPink;
        position: absolute;
        left: 50%;
        bottom: 0px;
        border-radius: 50%;
        transition: all 0.5s;
        transform: translateX(-50%) scale(0);
        z-index: 8;
    }
}
.nav-link.active {
    &::after {
        transform: translateX(-50%) scale(1);
    }
}
#navbarSupportedContent {
    ul {
        li {
            position: relative;
            
        }
    }
    .nav-item {
        position: relative;
        transition: all 0.2s;
        &:hover {
            .subMenu {
                visibility: visible;
                transform: scaleX(1) scaleY(1);
                opacity: 1;
            }
            a::after {
                transform: translateX(-50%) scale(1.5);
            }
        }

        .subMenu {
            background-color: $primaryWhite;
            position: absolute;
            flex-direction: column;
            list-style: none;
            width: 200px;
            padding-left: 5px;
            box-shadow: 0 0 10px 0 $shadowColor;
            display: flex;
            transition: all 0.2s;
            padding-left: $pd-2;
            padding-right: $pd-2;
            opacity: 0;
            visibility: hidden;
            transform: scaleX(0.9) scaleY(0.9);
            a {
                text-decoration: none;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                color: inherit;
                transition: all 0.2s;
            }
            li {
                line-height: 50px;
                border-bottom: 1px solid $borderColor;
                &:hover {
                    a {
                        color: $primaryPink;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
}

.menuHeader {
    gap: 30px;
    margin-right: $mg-2;
    li {
        font-weight: 600;
        line-height: 80px;
        font-size: 13px;
        font-family: "Montserrat", sans-serif;
    }
}
header .navbar{
    transition: all 0.5s;
}


@include responsive("smallest") {
    #navbarSupportedContent {
        display: none;
    }
    #headerContainer {
        button {
            display: inline-block;
        }
        img {
            width: 48px;
            height: 48px;
        }
    }
    header {
        background-color: $primaryWhite;
        transition: all 0.5s;
        .navbar {
            padding: 0px;
            // transition: all 0.5s;
        }
    }
    .logoNoneDisplay{
        display: inline-block;
    }
    .smallHeader{
        height: 48px;
        background-color: $primaryWhite;
        transition: all .5s;
        
    }
}

@include responsive("extra-large") {
    #navbarSupportedContent {
        display: flex;
    }
    #headerContainer {
        button {
            display: none;
        }

        img {
            width: 80px;
            height: 80px;
        }
    }
    header{
        background-color: transparent;
    }
    .logoNoneDisplay{
        display: none;
    }
    .smallHeader{
        // height: 54px;
        background-color: $primaryWhite;
        transition: all .5s;
        
    }
    a.navLinkSmall{
        &::after{
            bottom: 15px;
        }
    }
}
